@(adminForm: Form[views.formdata.AdminFormData],
createProjectForm: Form[views.formdata.CreateProjectFormData],
  trackingMap: Map[String, Boolean],
   lang: Map[String, Boolean]) 

@import helper._ 
@import bootstrap3.textarea
@import bootstrap3.text
@import bootstrap3.select

@import controllers.routes.javascript._ 


@main("Admin") {
<div class="container">

 @if(flash.containsKey("success")) {
		<div class="well">
			<div id="success-message" class="text-success">
				@flash.get("success")</div>
		</div>
		} @if(flash.containsKey("error")) {
		<div class="well">
			<div id="error-message" class="text-danger">
				@flash.get("error")</div>
		</div>
		}
		
			<div class="well">
				
		@form(routes.MainController.postAdmin(), 'class -> "form-horizontal") {
		<fieldset>
			<div class="col-sm-6">
				<div class="form-group">
			<button type="button" data-toggle="modal" data-target="#new_project"
					class="btn btn-default">New project...</button>	
					</div>
				 @select(adminForm("projectName"),
		          label = "Tracking Projects",
		          optionMap = trackingMap,
		          isMultiple = false,
		          help = "")
    	
			 @text(adminForm("token"),
			        label = "Security Token",
			        placeholder = "",
			        help = "",
			        fieldType = "password")
			        
			@textarea(adminForm("keywordsFile"), label = "Keywords File", placeholder = "$- keyword1 OR keyword2 ...", help = "In case of multiple queries, use \"$-\" to denote the start of each query" )
			
			 @select(adminForm("lang"),
	          label = "Language",
	          optionMap = lang,
	          isMultiple = false,
	          help = "")
	          
			    <div id="customLangDiv" class="form-group" style="display: none;">
			    <label class="col-sm-2 control-label" >Custom Language</label>
			    <div class="col-sm-10">
			      <input type="text"
			             class="form-control" 
			             id="customLang" 
			             name="customLang" 
			             value=""
			        />
			      <span class="help-block">use a language iso code e.g. en, de, fr, ..</span>
			    </div>
			  </div>
			
			</div>
			
			 <div class="form-group">
			    <div class="col-sm-offset-5 col-sm-10">
			      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Save</button>
			    </div>
			  </div>
		</fieldset>
		}

			</div>
</div>

<div class="modal fade" id="new_project" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 30%;">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" style="margin-top: -9px;">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
					</div>
					<div class="modal-body">
							
						<div id="ajax-error" class="text-danger" style="display : none; margin-bottom: 19px;">
							</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Project Name</label>
							<div class="col-sm-2" style="width: 130px;">
								<input type="text" class="form-control input-sm"
									name="new_project_name" value="" placeholder="" /> <span
									class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Security Token</label>
							<div class="col-sm-2" style="width: 130px;">
								<input type="password" class="form-control input-sm"
									name="security_token" value="" placeholder="" /> <span
									class="help-block"></span>
							</div>
						</div>
					     
						<button type="button" class="btn btn-primary pull-right"
							>Create</button>
				
						<div class="clearfix"></div>
					</div>

				</div>
			</div>
		</div>
<script>
$('#new_project').on('shown.bs.modal', function(){   
	$('#ajax-error').hide();
});
$('#new_project .btn-primary').click(function() {
	var name = $('#new_project input[name=new_project_name]').val();
	var t = $('#new_project input[name=security_token]').val();
	var d = { projectName : name, token :  t};
	jsRoutes.controllers.MainController.adminCreateProject().ajax({
		data: JSON.stringify(d),
		headers: {
		    "Content-Type": "application/json"
		  },
		method : "POST",
		success : function(data) {
			 alert(data);
			 window.location.reload();
		},
		error : function(data) {
			$('#ajax-error').text(data.responseText);
			$('#ajax-error').show();
		}
	});
});
$('#lang').change(function()
		{
						
	var language = $('#lang option:selected').text();
	if(language == "custom...")
		$('#customLangDiv').show();
	else
		$('#customLangDiv').hide();


		});
$('#projectName').change(function() {
	var projectName = $('#projectName option:selected').text();
	if(projectName)
		{
	jsRoutes.controllers.MainController.keywords(projectName).ajax({
		success : function(data) {
			$('#keywordsFile').text(data.keywords);
			if(data.lang)
				{
					$('#customLangDiv').hide();
					$('#lang').val(data.lang);
				}
			else
				{
				if(data.customLang)
				
					{
						$('#lang').val("custom...");
						$('#customLangDiv').show();
						$('#customLang').val(data.customLang);
					}
				}
		},
		error : function() {
			alert("Error!")
		}
	});
	jsRoutes.controllers.MainController.language(projectName).ajax({
		success : function(data) {
			
		},
		error : function() {
			alert("Error!")
		}
	});
	}
});

</script>

}