@(classificationForm: Form[views.formdata.ClassificationFormData], 
  preprocessing: Map[String,Boolean],
  classifiers: Map[String,Boolean],
  dataAvailable: Boolean,
  resultsAvailable: Boolean,
  trackingMap: Map[String, Boolean]) 

@import helper._ 
@import controllers.routes.javascript._ 

@main("Data Classification") {
<div class="container">
	<div class="well">		
		@classificationFieldset(classificationForm, preprocessing, classifiers, dataAvailable, resultsAvailable, trackingMap)
	</div>
	<div id="save-form" style="display: none;"">
	@form(routes.MainController.saveData("classified-data"), 'class ->
			"form-horizontal") {
			<button id="save" type="submit" value="Save" class="btn btn-primary">Save
				Classified Data</button>
				
			}
	</div>
</div>



}
