@(classificationForm: Form[views.formdata.ClassificationFormData], 
  preprocessing: Map[String,Boolean],
  dataAvailable: Boolean,
  resultsAvailable: Boolean) 

@import helper._ 
@import controllers.routes.javascript._ 

@main("Data Classification") {
<div class="container">
	<div class="well">

		@form(routes.ClassificationController.postClassification(), 'class -> "form-horizontal", 'id -> "classificationForm") {
		@classificationFieldset(classificationForm, preprocessing, dataAvailable, resultsAvailable) } 
	</div>
			@if(resultsAvailable) { @form(routes.MainController.saveData("classified-data"), 'class ->
			"form-horizontal") {
			<button id="save" type="submit" value="Save" class="btn btn-primary">Save
				Classified Data</button>
			} }
</div>



}
