@(classificationForm: Form[views.formdata.ClassificationFormData],
preprocessing: Map[String, Boolean], classifiers: Map[String, Boolean], dataAvailable: Boolean,
resultsAvailable: Boolean, trackingMap: Map[String, Boolean]) @import bootstrap3._

<!-- Modal -->

<form class="form-horizontal">
<fieldset>
	<!-- Header -->
	<div id="legend">
		<legend>Data Classification</legend>
	</div>

	<div class="col-sm-8">
		<div id="loadedMsgs" class="flash well col-sm-offset-1"
			style="display: none;">
			<div class="text-success"></div>
		</div>
		<div id="uploadError" class="flash well col-sm-offset-1"
			style="display: none;">
			<div class="text-danger"></div>
		</div>
		@if(flash.containsKey("success")) {
		<div class="flash well col-sm-offset-1">
			<div id="success-message" class="text-success">
				@flash.get("success")</div>
		</div>
		} @if(flash.containsKey("error")) {
		<div class="flash well col-sm-offset-1">
			<div id="error-message" class="text-danger">
				@flash.get("error")</div>
		</div>
		}
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-3">
				<button type="button" data-toggle="modal"
					data-target="#customize-classifier" class="btn btn-default">Customize
					classifier..</button>
			</div>
			 <span class="help-block">(Optional) Allows you to upload your own training data</span>
		</div>
		<div id="cross-validation" class="form-group" style="display: none;">
			<div class="col-sm-offset-1 col-sm-3">
			<button  type="button" value="Submit"
							class="btn btn-success" >Cross Validation</button>
							</div>
			 <span class="help-block">Perform cross validation (only for custom classifiers)</span>
			 </div>
		<div class=" col-sm-offset-1">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="datasource-select">Select
					datasource:</label>
				<div class="col-sm-4">
					<select class="form-control" id="datasource-select"
						name="datasource-select">
						@if(dataAvailable){
						<option id="fromQuery" value="fromQuery">Use last query
							data</option>
							}
						<option id="fromFile" value="fromFile">Load data from
							file</option>
						<option id="fromStore" value="fromStore">Load data from
							our tracking store</option>
					</select>
				</div>
			</div>
			<!-- Fetching Panel -->
				<div id="fetching-panel" class="panel panel-default" style="display: none;">
				<div class="panel-heading" role="tab">
					<h4 class="panel-title">Load Data From Our Store</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">   
					@select(classificationForm("projectName"),
			          label = "Tracking Projects",
			          optionMap = trackingMap,
			          isMultiple = false,
			          popup = true,
			          help = "")
		          </div>
				  <div class="form-group">   
					@datepicker(classificationForm("fromDate"), label = "From",
					placeholder = "dd.mm.yyyy", help = "")
					@datepicker(classificationForm("toDate"), label = "To", placeholder
					= "dd.mm.yyyy", help = "")
					</div>
					
					
				
				<button id="fetch-classify-button" type="button" value="Submit"
							class="btn btn-primary" style="margin-left: 15px;">Start Classification</button>
				</div>
			</div>
			<!-- Fetching Panel -->
			<!-- Uploading Panel -->
			<div id="uploading-panel" class="uploading-panel panel panel-default "
				style="display: none;">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">Load data file to classify</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<span class="btn btn-default fileinput-button btn-sm"
							style="margin-left: 30px;"> <i
							class="glyphicon glyphicon-plus"></i> <span>Select file...</span>
							<!-- The file input field used as target for the file upload widget -->
							<input class="fileupload" type="file" name="file" data-url="@routes.ClassificationController.handleClassificationUpload()">
						</span> <span class="files"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-5 control-label">Position of date
							column</label>
						<div class="col-sm-2" style="width: 84px;">
							<input type="number" class="form-control input-sm"
								id="date_column_pos" name="date_column_pos" value="1" min="1"
								placeholder="" /> <span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Position of message
							column</label>
						<div class="col-sm-2" style="width: 84px;">
							<input type="number" class="form-control input-sm"
								id="msg_column_pos" name="msg_column_pos" value="2" min="1"
								placeholder="" /> <span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">Separator symbol</label>
						<div class="col-sm-2" style="width: 84px;">
							<input type="text" class="form-control input-sm" id="separator"
								name="separator" value=";" placeholder="" /> <span
								class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox" id="add_after_msg_div"
							style="margin-left: 30px;">
							<label> <input type="checkbox" name="add_after_msg"
								id="add_after_msg" value="true"> Consider all data after
								message as part of the message ?
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox" id="already_classified_div"  
								style="margin-left: 30px;">
							<label> <input type="checkbox" name="already_classified"
								id="already_classified" value="true"> Data is already classified ?
							</label>
						</div>
					</div>			
											
						<button id="classify-submit" type="button" value="Submit"
							class="btn btn-primary" style="margin-left: 15px;" disabled>Start Classification</button>
					
						
					<div class="upload"></div>
					<div class="progress"
						style="height: 14px; margin-top: 7px; display: none;">
						<div
							class="progress-bar progress-bar-success progress-bar-striped"></div>
					</div>

				</div>
			</div>
			<!-- Uploading panel -->
		</div>

		<div class="modal fade" id="preprocess" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 30%;">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						@checkboxes(classificationForm("preprocessing"), label = "",
						checkboxMap = preprocessing, help = "")

						<button type="button" class="btn btn-primary pull-right"
							data-dismiss="modal">Done</button>
						<div class="clearfix"></div>
					</div>

				</div>
			</div>
		</div>

		<div class="modal fade uploading-panel" id="customize-classifier"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" style="width: 35%;">
				<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h5 class="modal-title">Train Your Classifer</h5>
			      </div>
					<div class="modal-body">
						<div class="form-group">
							<span class="btn btn-default fileinput-button btn-sm"
								style="margin-left: 23px;"> <i
								class="glyphicon glyphicon-plus"></i> <span>Select
									training data file...</span> <!-- The file input field used as target for the file upload widget -->
								<input class="fileupload" type="file" name="file" data-url="@routes.ClassificationController.handleTrainingUpload()">
							</span> <span class="files"></span>
						</div>
						 @select(classificationForm("classifiers"),
					          label = "Select Classifier",
					          optionMap = classifiers,
					          isMultiple = false,
					          help = "",
					          popup = true)
						<div class="form-group">
							<label class="col-sm-5 control-label">Separator symbol</label>
							<div class="col-sm-2" style="width: 84px;">
								<input type="text" class="form-control input-sm"
									name="training_separator" value=";" placeholder="" /> <span
									class="help-block"></span>
							</div>
						</div>
						<div class="form-group" style="margin-left: 10px;">
							<div class="checkbox" id="add_after_msg_div">
								<label> <input type="checkbox" name="training_add_after_msg"
									 value="true"> Consider all data
									after message as part of the message ?
								</label>
							</div>
						</div>
						<div class='upload'></div>
						<div class="progress"
							style="height: 14px; margin-top: 7px; display: none;">
							<div
								class="progress-bar progress-bar-success progress-bar-striped"></div>
						</div>

					</div>
				</div>

			</div>
		</div>
		

		<div id="visualization" class="col-sm-offset-1"
			style="display: none;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Visualized Results</h3>
					<span class="pull-right"> <!-- Tabs -->
						<ul class="nav panel-tabs">
							<!--
							<li class="active"><a href="#tab1" data-toggle="tab">Time
									Course</a></li>
							<li><a href="#tab2" data-toggle="tab">Distribution</a></li>
							<li><a href="#tab3" data-toggle="tab">Instance Count</a></li>
							-->
						</ul>
					</span>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div id="more-plots" class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									More plots... <span class="caret"></span>
								</button>
								<ul id="plots-menu" class="dropdown-menu dropdown-menu-right"
									role="menu">

									<li role="presentation" class="dropdown-header">Time
										Course</li>
									<li class="active"><a id="class-nominal" href="#myModal"
										role="menuitem" data-toggle="modal">Classification Values</a></li>
									<li><a id="mov-avg" href="#myModal" role="menuitem"
										data-toggle="modal">Moving Average</a></li>
									<li><a id="val-reg" href="#myModal" role="menuitem"
										data-toggle="modal">Regression</a></li>

									<li role="presentation" class="dropdown-header">Instance
										Count</li>
									<li><a id="count-date" href="#myModal" role="menuitem"
										data-toggle="modal">Instance Count per date</a></li>
									<li><a id="count-reg" href="#myModal" role="menuitem"
										data-toggle="modal">Regression</a></li>
									<li><a id="measurable" href="#myModal" role="menuitem"
										data-toggle="modal">Classes Distribution</a></li>
								</ul>
							</div>
							<div id="folds" style="display: none;">
								<div class="input-group" style="width: 117px; padding-left: 0px;margin-right: auto;margin-left: auto;">
							      <input type="number" class="form-control" min="2" max="10" value="2">
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button">Go!</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
							<div id="range-value" style="display: none; margin-top:5px;">
								<div class="input-group" style="width: 117px; padding-left: 0px;margin-right: auto;margin-left: auto;">
							      <input type="number" class="form-control" min="1" value="1" placeholder="Range..">
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button">Go!</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
							<div id="container" style="width: 100%; height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>
</form>
<script>

	$("#datasource-select").change(function() {
		$("#datasource-select option:selected").each(function() {
			if ($(this).attr("value") == "fromQuery") {
				$("#uploading-panel").hide();
	
			}
			if ($(this).attr("value") == "fromFile") {
				$("#uploading-panel").show();
				$("#fetching-panel").hide();
			}
			
			if ($(this).attr("value") == "fromStore") {
				$("#fetching-panel").show();
				$("#uploading-panel").hide();
			}
		});
	}).change();
	$('#fetch-classify-button').click(function(e){
		$(this).text('Loading')
		.removeClass(
				'btn-primary')
		.addClass(
				'btn-default')
		.addClass(
				'loading');
		var fromDate = $('#fromDate').val();
		var toDate = $('#toDate').val();
		var projectName = $('#projectName option:selected').text();
		jsRoutes.controllers.ClassificationController.handleFetchClassify(fromDate, toDate, projectName).ajax({
			success : function(data) {
				$('#loadedMsgs').delay(600).show(1);
				$('#loadedMsgs > div').text('');
				$('#loadedMsgs > div').append(data.message);
				$('#fetch-classify-button').text('Start Classification')
				.removeClass(
						'loading')
				.addClass(
						'btn-primary');
				
				window.location.hash = "visualization";
				$("#visualization").show();
				$("#folds").hide();
				$('#more-plots').show();
				if($("#datasource-select option:selected").val() != "fromStore")
					$('#save-form').show();
				showTimeSeriesChart(null, "classification", "nominal");
				var chart = $('#container').highcharts();
				chart.showLoading();
				jsRoutes.controllers.ClassificationController.handlePlot('class-nominal').ajax({
					success : function(data) {
						$('#class-nominal').data("model", data);
						chart = showTimeSeriesChart(data, "classification", "nominal");
					},
					error : function(data) {
						$('#uploadError').delay(600).show(1);
						$('#uploadError > div')
								.text(data.responseText);
						$('#fetch-classify-button').text('Start Classification')
						.removeClass(
								'loading')
						.addClass(
								'btn-primary');
					}
				});
			},
			error : function(data) {
				$('#uploadError').delay(600).show(1);
				$('#uploadError > div')
						.text(data.responseText);
				$('#fetch-classify-button').text('Start Classification')
				.removeClass(
						'loading')
				.addClass(
						'btn-primary');
			}
		});
	});
	
	$('#plots-menu li').click(function(e) {
		$('#plots-menu li.active').removeClass('active');
		var $this = $(this);
		if (!$this.hasClass('active')) {
			$this.addClass('active');
		}
	});

	$('#val-reg').click(function(e) {
		if (!$(this).closest('li').hasClass('active')) {
			$('#range-value').hide();
			if ($(this).data("model"))
				showValuesRegressionChart($(this).data("model"), 'linear');
			else {

				showValuesRegressionChart(null, 'linear');
				var chart = $('#container').highcharts();
				chart.showLoading();
				jsRoutes.controllers.ClassificationController.handlePlot('val-reg').ajax({
					success : function(data) {
						$('#val-reg').data("model", data);
						chart = showValuesRegressionChart(data, 'linear');
					},
					error : function() {
						alert("Error!")
					}
				});
			}
		}
	});
	$('#measurable').click(
			function(e) {
				if (!$(this).closest('li').hasClass('active')) {
					$('#range-value').hide();
					if ($(this).data("model"))
						showMeasurablePieChart($(this).data("model"), "classes");
					else {
						showMeasurablePieChart(null, "classes");
						var chart = $('#container').highcharts();
						chart.showLoading();
						jsRoutes.controllers.ClassificationController.handlePlot(
								'measurable').ajax({
							success : function(data) {
								$('#measurable').data("model", data);
								chart = showMeasurablePieChart(data, "classes");
							},
							error : function() {
								alert("Error!")
							}
						});
					}
				}
			});
	
	$('#mov-avg').click(function(e) {
		if (!$(this).closest('li').hasClass('active')) {
			$('#range-value').show();
			if($(this).data("model"))
			{
				$('#range-value input').val($('#mov-avg').data("range"));
				showMovingAverageChart($(this).data("model"), "classification", $('#mov-avg').data("range"));
			}
			else{
				showMovingAverageChart(null, "classification", null);
			}
		}
	});
	$('#range-value button').click(function(e) {
		var chart = $('#container').highcharts();
		chart.showLoading();
		jsRoutes.controllers.ClassificationController.handlePlot('mov-avg', $('#range-value input').val()).ajax({
			success : function(data) {
				$('#mov-avg').data("model", data);
				$('#mov-avg').data("range",  $('#range-value input').val());
				chart = showMovingAverageChart(data, "classification", $('#mov-avg').data("range"));
			},
			error : function() {
				alert("Error!")
			}
		});
	});
	$('#count-reg').click(function(e) {
		if (!$(this).closest('li').hasClass('active')) {
			$('#range-value').hide();
			if ($(this).data("model"))
				showValuesRegressionChart($(this).data("model"), 'linear');
			else {
				showValuesRegressionChart(null, 'linear');
				var chart = $('#container').highcharts();
				chart.showLoading();
				jsRoutes.controllers.ClassificationController.handlePlot('count-reg').ajax({
					success : function(data) {
						$('#count-reg').data("model", data);
						chart = showValuesRegressionChart(data, 'linear');
					},
					error : function() {
						alert("Error!")
					}
				});
			}
		}
	});
	$('#class-nominal').click(function(e) {
		if (!$(this).closest('li').hasClass('active')) {
			$('#range-value').hide();
			showTimeSeriesChart($(this).data("model"), "classification", "nominal");
		}
	});
	$('#count-date').click(
			function(e) {
				if (!$(this).closest('li').hasClass('active')) {
					$('#range-value').hide();
					if ($(this).data("model"))
						showTimeSeriesChart($(this).data("model"), "classification", "metric");
					else {
						showTimeSeriesChart(null, "classification", "metric");
						var chart = $('#container').highcharts();
						chart.showLoading();
						jsRoutes.controllers.ClassificationController.handlePlot(
								'count-date').ajax({
							success : function(data) {
								$('#count-date').data("model", data);
								chart = showTimeSeriesChart(data, "classification", "metric");
							},
							error : function() {
								alert("Error!")
							}
						});
					}
				}
			});
	
	$('#cross-validation button').click(
			function(e) {
				if (!$(this).closest('li').hasClass('active')) {
					$('#folds').show();
					$('#more-plots').hide();
					window.location.hash = "";
					window.location.hash = "visualization";
					$("#visualization").show();
					if($(this).data("model"))
					{
						$('#folds input').val($('#cross-validation button').data("folds"));
						showCrossValidationChart($(this).data("model"), $('#cross-validation button').data("folds"));
					}
					else{
						showCrossValidationChart();
					}
				}
			});
	$('#folds button').click(function(e) {
		var chart = $('#container').highcharts();
		chart.showLoading();
		jsRoutes.controllers.ClassificationController.handlePlot('cross-validation', $('#folds input').val()).ajax({
			success : function(data) {
				$('#cross-validation button').data("model", data);
				$('#cross-validation button').data("folds",  $('#folds input').val());
				chart = showCrossValidationChart(data, $('#cross-validation button').data("folds"));
			},
			error : function() {
				alert("Error!")
			}
		});
	});
	$(function() {

		$('.uploading-panel .fileupload')
				.fileupload(
						{
		
							dataType : 'json',
							add : function(e, data) {
								$('.flash').hide();
								var parentPanel = $(this).closest(
										'.uploading-panel');
								$('#classify-submit').prop('disabled', false);
								$('#classify-submit').data(data);
								data.context = parentPanel.find('.upload');
								$.each(data.files, function(index, file) {
									parentPanel.find('.files').text(file.name);
								});
							},
							fail : function(e, data) {
								var parentPanel = $(this).closest(
										'.uploading-panel');
								$('#uploadError').delay(1000).show(1);
								$('#uploadError > div')
										.text(
												"Error occured during upload, please refresh and try again ");
								/*
								parentPanel.find('.progress div').removeClass(
										'progress-bar-success').addClass(
										'progress-bar-danger');
								parentPanel.find('.progress').delay(700)
										.hide(1);*/
							},
							done : function(e, data) {
								var parentPanel = $(this).closest(
										'.uploading-panel');
							
								parentPanel.find('.files').text(
										data.result.file);
								$('#loadedMsgs').delay(600).show(1);
								$('#loadedMsgs > div').text('');
								$('#loadedMsgs > div').append(data.result.message);
								parentPanel.find('.files').empty();
								$('#classify-submit').text('Start Classification')
								.removeClass(
										'loading')
								.addClass(
										'btn-primary');
								$('#classify-submit').prop('disabled', true);
								
								window.location.hash = "visualization";
								$("#visualization").show();
								$("#folds").hide();
								$('#more-plots').show();
								$('#save-form').show();
								showTimeSeriesChart(null, "classification", "nominal");
								var chart = $('#container').highcharts();
								chart.showLoading();
								jsRoutes.controllers.ClassificationController.handlePlot('class-nominal').ajax({
									success : function(data) {
										$('#class-nominal').data("model", data);
										chart = showTimeSeriesChart(data, "classification", "nominal");
									},
									error : function() {
										alert("Error!");
									}
								});
								$('#classify-submit').data("stop",0);
							}
						}).prop('disabled', !$.support.fileInput).parent()
				.addClass($.support.fileInput ? undefined : 'disabled');
	});
	$(function() {
	$('#customize-classifier .fileupload')
	.fileupload(
			{
				dataType : 'json',
				add : function(e, data) {
					$('.flash').hide();
					var parentPanel = $(this).closest(
							'.uploading-panel');
					if ($('.uploading-panel .uploadButton').length)
						$('.uploading-panel .uploadButton')
								.remove();
					var uploadButton = $(
							'<button class="uploadButton"/>')
							.addClass('btn btn-success')
							.prop('type', 'button')
							.on(
									'click',
									function() {
										var $this = $(this), parentPanel = $this
												.closest('.uploading-panel');
									
										data = $this.data();
										$this
												.off('click')
												.text('Loading')
												.removeClass(
														'btn-success')
												.addClass(
														'btn-default')
												.addClass(
														'loading');
										data.submit().always(
												function() {
													$this.remove();
												});
									});

					uploadButton.text('Upload').data(data);
					data.context = parentPanel.find('.upload')
							.append(uploadButton);
					$.each(data.files, function(index, file) {
						parentPanel.find('.files').text(file.name);
					});
				},
				fail : function(e, data) {
					var parentPanel = $(this).closest(
							'.uploading-panel');
					$('#customize-classifier').delay(1000).modal('hide')
					$('#uploadError').delay(1000).show(1);
					$('#uploadError > div')
							.text(
									"Error occured during upload, please refresh and try again ");
					/*
					parentPanel.find('.progress div').removeClass(
							'progress-bar-success').addClass(
							'progress-bar-danger');
					parentPanel.find('.progress').delay(700)
							.hide(1);*/
				},
				done : function(e, data) {
					var parentPanel = $(this).closest(
							'.uploading-panel');
				
					parentPanel.find('.files').text(
							data.result.file);
					$('#loadedMsgs').delay(600).show(1);
					$('#customize-classifier').delay(1000).modal('hide')
					$('#loadedMsgs > div').text('');
					$('#loadedMsgs > div').append(data.result.message);
					parentPanel.find('.files').empty();
					$('#cross-validation').show();

				}
			}).prop('disabled', !$.support.fileInput).parent()
	.addClass($.support.fileInput ? undefined : 'disabled');
});
	$("#classify-submit").click(function (e){
		window.location.hash = "";
		var $this = $(this), parentPanel = $('.uploading-panel');
		if($this.data("stop")==1)
			return;
		var data = $this.data();
		$this.data("stop",1);
		$this	.text('Loading')
				.removeClass(
						'btn-primary')
				.addClass(
						'btn-default')
				.addClass(
						'loading');
		data.submit();
	});
</script>
