@(emotionForm: Form[views.formdata.EmotionFormData], 
  preprocessing: Map[String,Boolean],
  dataAvailable: Boolean,
  resultsAvailable: Boolean) 

@import helper._ 
@import controllers.routes.javascript._ 

@main("Emotion Measurement") {
<div class="container">
	<div class="well">

		@form(routes.Application.postEmotion(), 'class -> "form-horizontal", 'id -> "emForm") {
		@emotionFieldset(emotionForm, preprocessing, dataAvailable, resultsAvailable) } 
	</div>
			@if(resultsAvailable) { @form(routes.Application.saveData("em-values"), 'class ->
			"form-horizontal") {
			<button id="save" type="submit" value="Save" class="btn btn-primary">Save
				Measurement Data</button>
			} }
</div>



}
