@(queryForm: Form[views.formdata.QueryFormData])

@import bootstrap3._

<fieldset>
  <!-- Header -->
  <div id="legend">
    <legend>Data Collection</legend>
  </div>

   <!-- Name -->
  @text(queryForm("query"),
        label = "Search",
        placeholder = "keywords",
        help = "please enter your search keywords")
        
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
      <button id="cancel" class="btn cancel">Cancel</button>
    </div>
  </div>
</fieldset>
