@(queryForm: Form[views.formdata.QueryFormData], 
  lang: Map[String,Boolean],
  dataAvailable: Boolean) 

@import helper._ 
@import controllers.routes.javascript._ 

@main("Index") {
<div class="container">
 @if(flash.containsKey("success")) {
		<div class="well">
			<div id="success-message" class="text-success">
				@flash.get("success")</div>
		</div>
		} @if(flash.containsKey("error")) {
		<div class="well">
			<div id="error-message" class="text-danger">
				@flash.get("error")</div>
		</div>
		}
	<div class="well">
		
		@form(routes.MainController.postIndex(), 'class -> "form-horizontal") {
		@queryFieldset(queryForm, lang) }
	</div>
	@if(dataAvailable) {
	 @form(routes.MainController.saveData("raw-data"), 'class ->
	"form-horizontal") {
	<button id="save" type="submit" value="Save" class="btn btn-primary">Save
		Collected Data</button>
	<button id="tagcloud" type="button" value="TagCloud" class="btn btn-default">Creat Tag Cloud</button>
	<br />
	} }
</div>

}
