@(queryForm: Form[views.formdata.QueryFormData],
  lang: Map[String, Boolean])

@import bootstrap3._

<fieldset>
  <!-- Header -->
  <div id="legend">
    <legend>Search</legend>
  </div>

   <!-- Name -->
   <div class="col-sm-8">
  @text(queryForm("query"),
        label = "Search",
        placeholder = "keywords",
        help = "")
        
   @select(queryForm("lang"),
          label = "Language",
          optionMap = lang,
          isMultiple = false,
          help = "")
    	
	@text(queryForm("numOfSites"),
        label = "Number of pages",
        placeholder = "e.g. 100",
        help = "Allows you to control the size of your result set, 1 page = 100 tweets")
       <div class="form-group">   
	@datepicker(queryForm("fromDate"),
		  label = "From",
		  placeholder = "dd.mm.yyyy",
		  help = "")
	
	@datepicker(queryForm("toDate"),
		  label = "To",
		  placeholder = "dd.mm.yyyy",
		  help = "")
		  </div>
<br>
  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-1">
      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Start Collecting</button>
    </div>
  </div>
  </div>
</fieldset>