@(visualizationForm: Form[views.formdata.VisualizationFormData],
preprocessing: Map[String, Boolean], dataAvailable: Boolean,
resultsAvailable: Boolean) @import bootstrap3._
<style>
.panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
	content: "\e080";
}

.dropdown-header {
	background-color: rgb(172, 172, 172);
	color: white;
}
</style>

<!-- Modal -->

<fieldset>
	<!-- Header -->
	<div id="legend">
		<legend>Network Visualization</legend>
	</div>

	<div class="col-sm-3" style="width: 26%;">
		<div id="loadedMsgs" class="flash well col-sm-offset-1"
			style="display: none;">
			<div class="text-success"></div>
		</div>
		<div id="uploadError" class="flash well col-sm-offset-1"
			style="display: none;">
			<div class="text-danger"></div>
		</div>
		@if(flash.containsKey("success")) {
		<div class="flash well col-sm-offset-1">
			<div id="success-message" class="text-success">
				@flash.get("success")</div>
		</div>
		} @if(flash.containsKey("error")) {
		<div class="flash well col-sm-offset-1">
			<div id="error-message" class="text-danger">
				@flash.get("error")</div>
		</div>
		}

		<div class="col-sm-offset-1">

			<!-- Mongo Store Panel -->
			<div id="store-panel" class="datasource panel panel-default ">
				<div class="panel-heading" role="tab">
					<h4 class="panel-title">Load Data From Our Store</h4>
				</div>
				<div class="panel-body">
					@datepicker(visualizationForm("fromDate"), label = "From",
					placeholder = "dd.mm.yyyy", help = "") <br />
					@datepicker(visualizationForm("toDate"), label = "To", placeholder
					= "dd.mm.yyyy", help = "")
						<div class="checkbox input-group" id="add_after_msg_div" style="
	width: 85%; margin-left: 15px; padding-top: 15px;">
							<label> <input type="checkbox" name="ignore-neutral"
								id="ignore-neutral" value="true"> Ignore neutral tweets ?
							</label>
						</div>
					<div class="input-group pull-right" style="padding-top: 20px;">
						<button id="store-fetch" type="button" value="fetch"
							class="btn btn-success">Fetch</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-9" id="network" style="width: 74%;"></div>
</fieldset>

<script>
	$('#plots-menu li').click(function(e) {
		$('#plots-menu li.active').removeClass('active');
		var $this = $(this);
		if (!$this.hasClass('active')) {
			$this.addClass('active');
		}
	});

	$('#store-fetch').click(
			function(e) {
				var fromDate = $('#fromDate').val();
				var toDate = $('#toDate').val();
				var ignoreNeutrals = $("#ignore-neutral").is(':checked')
				var $this = $(this);
				$this.text('Loading').removeClass('btn-success').addClass(
						'btn-default').addClass('loading');
				jsRoutes.controllers.VisualizationController.fetch(fromDate,
						toDate, ignoreNeutrals).ajax(
						{
							success : function(data) {

								$('#loadedMsgs').show();
								$('#loadedMsgs > div').text('');
								$('#loadedMsgs > div').append(data.message);
								toVisData(data.interactions);
								$this.text('Fetch').removeClass('btn-default')
										.removeClass('loading').addClass(
												'btn-success');
							},
							error : function() {
								alert("Error!");
								$this.text('Fetch').removeClass('btn-default')
										.removeClass('loading').addClass(
												'btn-success');
							}
						});
			});
</script>